body{
    background-color:#1f2227;
}
.header{
    grid-area:hd;
    background-color: gold;
}
.article{
    grid-area:main;
}
.footer{
    grid-area:ft;
    background-color: gold;

}
.sidebar{
    grid-area:sd;
}
.content{
    grid-area: main;
  }
.box{
    border: 1px black;
}